#   **Data Structure**

1)  What are data structures, and why are they important?
   - A data structure is a specialized format for organizing, storing, and managing data so it can be used efficiently. Think of it as a container that holds data in a specific layout, allowing you to perform operations like searching, sorting, inserting, or deleting with ease.

2) Explain the difference between mutable and immutable data types with examples?
 - Mutable data type can be changed after they’re created. You can modify, add, or remove elements without creating a new object. Example-list, dictionary , set.
 - Immutable data type  cannot be changed once created. Any operation that seems to "change" them actually creates a new object.Example- integer,float,string.

3) What are the main differences between lists and tuples in Python?
 - In python list are mutable , you can change, add or remove element like [1,2,3]
 - In python tuple are immutable , it is fixed once its create.You're optimizing for performance in large-scale applications, like(1,2,3)

4) Describe how dictionaries store data?
 - Dictionaries in Python are one of the most powerful and flexible data structures, especially when you're working with structured data like CSV files or building systems like gradebooks or bank statements. Let’s dive into how they store data and why they’re so useful.

5) Why might you use a set instead of a list in Python?
 - Sets automatically remove duplicates. If you need a collection of unique items, sets are your go-to.Its  use hashing, so checking if an item exists is much faster than in lists—especially with large datasets.

6) What is a string in Python, and how is it different from a list?
 - Strings and lists in Python can look similar especially since both are sequences—but they behave quite differently. Let’s break it down with clarity, examples, and practical insights.

7) How do tuples ensure data integrity in Python?
  - Tuples are like the guardians of data integrity in Python.Let’s explore how they work and why they’re so valuable when you want to protect your data from accidental changes.

8) What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs and allows fast access to values based on their keys.When you search for a key, Python uses the hash code to jump directly to the value—no need to scan the whole table.

9) Can lists contain different data types in Python?
 - Python lists are heterogeneous, meaning they can store elements of different types—integers, strings, floats, booleans, even other lists or dictionaries.

10) Explain why strings are immutable in Python?
 - Strings are used frequently—especially as keys in dictionaries.
 - Immutability allows Python to cache and reuse string objects safely.
 - Immutable objects are hashable, which means they can be used as dictionary keys.

11) What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries let you access values using descriptive keys, not just numeric indexes.
 - This makes your code more readable and intuitive.

12) Describe a scenario where using a tuple would be preferable over a list?
 - Coordinates are fixed and shouldn't change → tuples are immutable.
 - Tuples are hashable, so they can be used as dictionary keys or stored in sets.
 - Semantically, a pair of values with a fixed meaning fits a tuple better than a list.

13)  How do sets handle duplicate values in Python?
 -  When you create a set, any duplicate values are removed.
 - Sets rely on hashing to determine uniqueness.
 - Only hashable (immutable) types can be stored in a set.

14) How does the “in” keyword work differently for lists and dictionaries?
 - The in keyword is super versatile in Python, but its behavior depends on the data structure you're using. Let’s break down how it works differently for lists vs dictionaries.

15) Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple because this are immutable, once creatted their contents are fixed.
   - Tuples are immutable in Python.
   - Once created, their contents are fixed—you can’t change, add, or remove elements.


  - Safety: Prevents accidental changes to data.
  - Hashability: Tuples can be used as dictionary keys or set elements.
  - Performance: Immutable objects are often faster and more memory-efficient.


16) What is a nested dictionary, and give an example of its use case?
 -  A nested dictionary is simply a dictionary inside another dictionary.
 -  You want to store each student's name, age, and grades.  

17)  Describe the time complexity of accessing elements in a dictionary?
 -  Accessing elements in a dictionary is one of Python’s superpowers when it comes to performance.
    - Dictionary lookups are constant time thanks to hash tables.
    - Python computes a hash of the key and jumps directly to the value.
  
18) In what situations are lists preferred over dictionaries?
 -  Maintaining Order
     - Lists preserve the order of elements.
     - Ideal for tasks like sorting, slicing, or iterating in sequence.
 - Index-Based Access
     - You need to access items by position, not by name.
 - Storing Homogeneous Data
     - Lists are great for storing items of the same type (e.g., numbers, strings).
 - Simple Collections
     - When no unique identifier (key) is needed—just a group of items.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries in Python were considered unordered because they didn’t guarantee the order of key-value pairs.
    -  Keys were stored based on hash values, not sequence.
    - This meant the order of items could change unexpectedly.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists are great when you care about the order or need to access items by position.
  - Dictionaries are ideal when you want to retrieve data by a meaningful label (key), not position.

1) Write a code to create a string with your name and print it?

In [1]:
string = "My name is Abhishek Kumar Ram"
print(string)

My name is Abhishek Kumar Ram

2) Write a code to find the length of the string "Hello World"?

In [2]:
string = "Hello World"
len(string)

11

3) Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4) Write a code to convert the string "hello" to uppercaseP

In [6]:
text = "hello"
text.upper()

'HELLO'

5) Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [9]:
text = "I like apple"
text.replace("apple","orange")

'I like orange'

6) Write a code to create a list with numbers 1 to 5 and print it?

In [10]:
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

7) Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [11]:
list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [12]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9)  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [15]:
list = ['a','b','c','d']
list[1]

'b'

10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [19]:
tuple = (100,200,300)
tuple

(100, 200, 300)

12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [20]:
tuple = ('red','green','blue','yellow')
tuple[2]

'blue'

13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [24]:
tuple = (10,20,5,15)
min(tuple)

5

14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [25]:
tuple = ('dog','cat','rabbit')
tuple.index('cat')

1

15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
tuple = ("apple","banana","kiwi")
"kiwi" in tuple

True

16) Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [28]:
set = {'a','b','c'}
set

{'a', 'b', 'c'}

17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [29]:
set = {1,2,3,4,5}
set.clear()
set

set()

18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [30]:
set = {1,2,3,4}
set.remove(4)
set

{1, 2, 3}

19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}..

In [31]:
s1 = {1,2,3}
s2 = {3,4,5}
s1|s2

{1, 2, 3, 4, 5}

20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
s1 = {1,2,3}
s2 = {2,3,4}
s1&s2

{2, 3}

21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
dict = {"name":"Abhishek","age":23,"city":"Kolkata"}
dict

{'name': 'Abhishek', 'age': 23, 'city': 'Kolkata'}

22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
dict = {'name': 'John', 'age': 23}
dict["country"] = "USA"
dict

{'name': 'John', 'age': 23, 'country': 'USA'}

23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [37]:
dict = {'name': 'Bob', 'age': 23, 'city': 'New York'}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'New York'}

25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
dict = { 'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

26) Write a code to create a list, a tuple, and a dictionary, and print them all.

In [39]:
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dict = {"name":"Abhishek","age":23,"city":"Kolkata"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Abhishek', 'age': 23, 'city': 'Kolkata'}

27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [43]:
list = [43,64,73,27,93]
list.sort()
list

[27, 43, 64, 73, 93]

28) Write a code to create a list with strings and print the element at the third index.

In [45]:
list = ["apple","banana","Abhishek","orange","grapes"]
list[2]

'Abhishek'

29) Write a code to combine two dictionaries into one and print the result

In [47]:
d1 = {'name':'Abhishek'}
d2 = {'age':23}
d1.update(d2)
d1

{'name': 'Abhishek', 'age': 23}

30) Write a code to convert a list of strings into a set

In [61]:
list = ["apple","banana","Abhishek","orange","grapes"]
set(list)

TypeError: 'set' object is not callable